{% block content %}
<div class="mt-2 bg-gray-300 border">
  <h3 class="text-2xl">온습도</h3>
</div>
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm lg">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/4">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Type
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Role
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">

            {% for t in th %}
            
            <tr>
              
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <a href=" {% url 'devices:th_detail' t.pk %}">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full" src="http://www.kjups.com/design/default/images/np02-02.jpg" alt="">
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          {{t.name}}
                        </div>
                        <div class="text-sm text-gray-500">
                          {{t.administrator}}
                        </div>
                    </a>
                    </div>
                  </div>
                </td>
              
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{t.get_device_select_display}}</div>
                <div class="text-sm text-gray-500">etc...</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Active
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{t.host}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <a href="{% url 'devices:phoneupdate' t.phones.id %}" class="text-indigo-600 hover:text-indigo-900">연락처</a>
              </td>
            </tr>
          
            {% endfor %}
            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



</div>
{% endblock content %}

